* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
}

.bonnaroo-pic {
  margin-left: 39%;
  padding-bottom: 30px;
}

.container { 
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 10px;
}

.location {
  height: 400px;
  width: 400px;
  background-image: url(../imgaes/flat-street-map-direction-gps-navigation-road-town-pins-simple-information-scheme-city-river-travel-plan-route-174351973.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  margin-right: 20px;
}